doctype html
html
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Keystone Redux React Socket.io Demo
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	//- HTML BODY
	body
		.outer
			#root
		//-   Javascript files 
		//-   React&Redux packages
		script(src='/js/packages.js')
		//-   Javascript for this page 
		script(src='/js/home.js')
		block js